* {
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #003072;
    --color-2: white;
    --color-3: #f4f4f4;
    --color-4: #efbb5c;
}

nav {
    font-size: 12pt;
    font-family: serif;
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-2);
    white-space: nowrap;
    cursor: pointer;
}

nav a:hover {
    color: var(--color-4);
}

.nav-logo img {
    margin-right: 700px;
    width: 80px;
    height: auto;
}

nav svg {
    fill: var(--color-3);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    display: none;
    z-index: 11;
}

#overlay {  
    display: none;  
    pointer-events: none;
 }  

@media (max-width: 450px) {

    #overlay {  
        display: block;  
        pointer-events: auto;
     }  

    .links-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .nav-logo img {
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-logo {
        margin-bottom: -40px;
    }

    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
        z-index: 12;
        position: relative;
    }

    #sidebar-active:checked ~ .open-sidebar-button {  
        display: none;  
     }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -70px 0 0 50px;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col-1 p {
    font-size: 20px;
    margin: 30px 0;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 100%;
    background: var(--color-1);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .home-logo {
    width: 90%;
}

.social-links img {
    height: 30px;
    margin: 20px;
    cursor: pointer;
}

.social-links {
    text-align: center;
}

.resources-home {
    background-color: #0149ac;
    padding: 50px;
    margin-top: -70px;
}

@media only screen and (max-width: 450px) {

    .row {
        flex-direction: column-reverse;
        margin: 100px 0;
    }

    .col-2 {
        flex-basis: 100%;
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin-bottom: -90px;
        margin-top: -150px;
    }

    .col-2 .home-logo {
        width: 77%;
    }

    .col-1 {
        flex-basis: 100%;
        margin-right: 50px;;
    }

    .col-1 p {
        font-size: 15px;
    }
}